# Ignore pycache files
.pytest_cache/
tests/__pycache__/
shipp/__pycache__/
experiments/hyb24_bl_hpp/__pycache__/
*.pyc
# Ignore data files and figures
experiments/hyb24_bl_hpp/figures
*.csv
*.pckl
*.txt
*.png